parameters:
    level: 5
    paths:
        - controllers
        - models
        - commands
        - widgets
    excludePaths:
        - vendor
        - runtime
        - tests
        - web
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        - '#Ternary operator condition is always false#'