name: PHP Linting

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run PHP CodeSniffer
        run: ./vendor/bin/phpcs --standard=PSR12 ./

      - name: Auto-fix code style
        run: ./vendor/bin/phpcbf --standard=PSR12 --ignore=vendor,runtime,web ./
        continue-on-error: true
        if: always()

      - name: Commit and push fixed code
        run: |
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git add -A
            git commit -m "Исправленный код при помощи phpcbf" || true
            git push
        if: always()
        
      - name: Run PHPStan
        run: ./vendor/bin/phpstan analyse
